{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Favourites list</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{% static 'search/album.css' %}" rel="stylesheet">
  </head>
  <body>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">  <p class="text-success">Favourites list</p></h1>
      <p class="lead text-muted"> <p class="text-primary">Hi Dear User Your all Favourites videos appears here</p>

      <form method="POST">
      <div class="input-group mb-3">
          {% csrf_token %}
      </div>
      </form>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for video in videos %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">{{ video.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ video.yt_link }}</small>
                <button type="submit" name="submit" id="{{ video.yt_link }}" onclick="func(this.id)" value="delete" class="btn btn-primary my-2">Delete</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

</body>
</html>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">

function func(name) {
  var yt_link=event.srcElement.id
<!--  alert(yt_link)-->

$.ajax({

        'url' : 'delete',
        'type' : 'GET',
        'data' : {
            'yt_link' : yt_link
        },
        'success' : function(data) {
            alert("removed from favorites")
        },
        'error' : function(request,error)
        {
            alert("failed")
        }
    });


}
</script>